@font-face {
    font-family: cursive;
    src:url('Allura-Regular.ttf');
}
  
body{
    background: rgb(19, 19, 19);
    align-content: center;
    text-align: center;
}

.title{
    color: rgb(64, 127, 182);
}

.content{
    color:lightgray;
    width: 50vw;
    margin-left: 25vw;
    text-align: justify;
}

.footer{
    color:rgb(155, 92, 192);
    font-size: 20px;
}